http {
    server {
        listen 8080;
        root /Users/peter/Desktop/Personal/project/nginx/app/;
        
        # can go to localhost:8080/images
        location /images {
            # no need to mention /images because the location above will be appended
            # go to localhost:8080/images/something.jpg
            root /Users/peter/Desktop/;
        }
        
        # '~' to specify regular expression
        # '$' to specify end with that
        # location ~ .jpg$ {
            # return 403;
        # }
    }

    server {
        listen 8888;

        # redirect to the server above
        location / {
            proxy_pass http://localhost:8080/;
        }

        location /img {
            proxy_pass http://localhost:8080/images;
        }
    }
}

events { }